DEV_CLIENT_ID=""
DEV_MODE="true"
DEV_TOKEN="" # MTQz... discord token
GUILD_ID="" # Optional: deploy development commands instantly to one test server
PRODUCTION_CLIENT_ID=""
PRODUCTION_TOKEN="" # MTQz... discord token"
MONGODB_URI="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority"
