ENVIRONMENT="development"
DISCORD_TOKEN= # discord bot token for development
DEV_IDS="968622168302833735" # comma-separated list of discord user ids
MONGO_URI=""
ISSUES="" # github issues url
SENTRY_DSN="" 

